.item {
  position: relative;
  border: 1px solid #000;
}

.description {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0​ ​1px​ ​0​ ​#C04131;
  border: 1px solid #dd4b39;
  border-radius: 2px;
  outline: 0;
  padding: 5px 10px;
  background: linear-gradient(0deg, #dd4b39, #d14836);
  cursor: pointer;
}

.deleteButton:hover {
  border: 1px solid #af301f;
  background: linear-gradient(0deg, #dd4b39, #c53727);
}

.deleteButton:active {
  box-shadow: inset​ ​0​ ​1px​ ​1px​ ​rgba​(​0​,​0​,​0​,​0.2​);
  background: linear-gradient(0deg, #D74736, #AD2719);
}
